.container{
    max-width: 1200px;
    width: 90%;
    margin: auto;
}
html{
    scroll-behavior: smooth;
}
.display-none{
    position: absolute;
    left: -9999px;
}
a{
    text-decoration: none;
    color: initial;
}
body{
    background-color: #252527;
    color: #FFFFFF;
}


.logo{
    width: 160px;
    margin: 10px;
}
.showcase-area{
        background-image: url(../img/mockup_small.jpg);
        height: 35vh;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: -20px;
}
.backg round-line{
    background-image: url(../svg/line.svg);
    background-repeat: no-repeat;
}
.background-line{
    background-image: url(../svg/line.svg);
    background-position: center;
    background-repeat: no-repeat;
}
.btn{
    text-transform: uppercase;
    font-weight: bold;
    padding: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-radius: 40px;
    background-color: #8BBB7D;
    font-size: 1.2em;
    display: block;
    width: 170px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: .5s ease-in-out;
}
.btn:hover{
    background-color: #58794e;
    cursor: pointer;
}

.triatlon-icon{

    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
}
.properties-area{
    padding-left: 0;
    margin-top: -20px;
}
.properties-area li{
    list-style: none;
    font-weight: lighter;
    text-transform: uppercase;
    line-height: 1.2em;
    margin-top: 10px;
    margin-bottom: 10px;

}
/*Run img*/
.runImg-container h2{
    position: relative;
    top: 20px;
    text-align: center;
}
.runImg-img{
    max-width: 100%;
    height: 310px;
    object-fit: cover;
    object-position: left;
    display: block;
    margin: auto;
}
/*Footer*/
.main-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}



 .shoe-slider{
     display: flex;
     justify-content: center;
 } 
.carousel-container{
    z-index: 10;
    display: flex;
    width: 330px;
    position: relative;
    overflow: hidden;
}
.carousel{
    width: 330px;
    height: 100%;
    display: flex;
    transition: .4s ease-in-out;
}
.carousel img{
    width: 330px;
    height: auto;
    transition: .3s ease;
    object-fit: cover;
    transform: scale(1.1);
/*     margin-left: 7px; */
}


.icon-nav:hover{
    opacity: 100%;
}
.shoeColor-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.shoeColor-card{
    width: 285px;
    height: 330px;
    background-color: #FDFDFD;
    border-radius: 20px;
    margin: 20px;
    transition: .3s ease-out;
}
.cart-icon{
    position: relative;
    content: url(../svg/cart.svg);
    width: 30px;
    padding: 15px;
}
.shoe-card2 .cart-icon{
    content: url(..//svg/cart_blue.svg);
}
.shoe-card3 .cart-icon{
    content: url(..//svg/cart_rose.svg);
}
.shoeImg{
    width: 180px;
    height: 180px;
}
.shoeImg img{
    width: 180px;
    height: 180px;
    object-fit: cover;


}
.shoeColor-card:hover{
    transform: scale(1.1);
   cursor: pointer;
}
.shoeImg{
        z-index: 10;
        display: flex;
        width: 180px;
        position: relative;
        overflow: hidden;
        margin-left: auto;
}
.shoe-title{
    margin: 2px;
    color: black;
    font-size: 1.5em;
    width: 230px;
    margin: auto;
    padding: 10px;
    
}

.arrow-left{
    content: url(../svg/arrow_left.svg);
}
.arrow-right{
    content: url(../svg/arrow_right.svg);
}
.arrow{
    position: relative;
    left: 20px;
    margin: 5px;
    bottom: 20px;
    height: 12px;
    opacity: 40%;
    transition: .4s ease-in-out;
}
.arrow-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-right: 35px;
}
.shoeImg-wrapper{
    margin-right: 20px;
}
.arrow:hover{
    opacity: 100%;
    cursor: pointer;
}
.cart-icon{
    opacity: 70%;
    transition: .4s ease-in-out;
}
.cart-icon:hover{
    opacity: 100%;
    cursor: pointer;
}
.color-text:hover{
    opacity: 70%;
}
.color-text{
    transition: .4s ease-in-out;
}
.shoe-card-wrapper{
    display: flex;
    overflow-x: scroll;
    width: 100%;
}
.runImg-container{
    background-image: url(../img/beh_smallest.jpg);
    width: 100%;
    height: 320px;
    background-position: center;
    background-size: cover;
}
.slider-container{
    display: flex;
    flex-direction: column;
}
.text-wrapper{
    max-width: 90%;
    margin: auto;
}
.slider-table{
    max-width:600px;margin:0 auto;padding-bottom:70px;
}
@media only screen and (min-width:460px) {
.background-line{
    background-image: none;
}
.runImg-container{

    height: 420px;
    background-image: url(../img/beh_small.jpg);
}


}

@media only screen and (min-width:920px) {
    .logo{
        margin-left: 20px;
        margin-top: 20px;
    }
    .showcase-area{
        background-image: url(../img/mockup_large.jpg);
        height: 100vh;
        background-position-y: -100px;


    }
    .carousel img{
        width: 500px;

    }
    .carousel{
        width: 500px;
    }
    .properties-area{
        margin-top: -400px;
    }
    .btn{
        margin-left: 8%;
    }
    .btn-bottom{
        
        margin: auto;
        margin-top: 20px;

    }
    .triatlon-icon{
        margin-left: 8%;
    }
    .runImg-container{
        height: 650px;
        background-image: url(../img/beh_large_large.jpg);
    }
    .slider-container{
        flex-direction: row;
        align-items: center;
        margin-top: 50px;
    }
    .text-wrapper{
        max-width: 40vw;
    }
    .shoe-card-wrapper{
        justify-content: center;
    }
    }